apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-java
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      containers:
        - name: java-app
          image: REPO_ECR
          resources:
            requests:
              cpu: "100m" # Solicita 0.1 de um core de CPU
              memory: "128Mi" # Solicita 128 megabytes de memória
            limits:
              cpu: "500m" # Limite de 0.5 de um core de CPU
              memory: "256Mi" # Limite de 256 megabytes de memória
          ports:
            - containerPort: 8080

          env:
            - name: DATASOURCE_URL
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DATASOURCE_URL
