apiVersion: v1
kind: Secret
metadata:
  name: app-secret
type: Opaque
data:
  DATASOURCE_URL: bW9uZ29kYitzcnY6Ly9maWFwOmZpYXBAY2x1c3Rlci1maWFwLXBvc3RlY2guaWZzODNlYy5tb25nb2RiLm5ldC8/YXBwTmFtZT1jbHVzdGVyLWZpYXAtcG9zdGVjaA==
