apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-java
spec:
  replicas: 1
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      labels:
        app: java-app
    spec:
      containers:
        - name: java-app
          image: REPO_ECR
          resources:
            requests:
              cpu: "100m" # Solicita 0.1 de um core de CPU
              memory: "128Mi" # Solicita 128 megabytes de memória
            limits:
              cpu: "500m" # Limite de 0.5 de um core de CPU
              memory: "256Mi" # Limite de 256 megabytes de memória
          ports:
            - containerPort: 8080

          env:
            - name: DATASOURCE_URL
              valueFrom:
                secretKeyRef:
                  name: app-secret
                  key: DATASOURCE_URL
            - name: AWS_ACCESS_KEY_ID
              value: "ASIAYS2NRLYYNZ67RLFP"
            - name: AWS_SECRET_ACCESS_KEY
              value: "0dEQ1ra7hqKcxtmSPeD2C/++f9gyO9oECBewk0Ra"
            - name: AWS_SESSION_TOKEN
              value: "IQoJb3JpZ2luX2VjEPz//////////wEaCXVzLXdlc3QtMiJGMEQCIGFW+Sp4UiaqQ/qlp7RcgpywOAN4YirfzF+3YG5+pTe5AiACaAikL4MW5DrWuvpVSduMDZTuR2LSxNmrI8HFnzkzeCq0AgjF//////////8BEAAaDDU5MDE4Mzc1MTIxNiIM2p36BeZ88zyQszU4KogCFXvjrvxUUd0F8x0QZM49Fr3gH5gs/ysHbGQ4LqgL80ly9mRBM9OgzUK49KQwVYV/dAfM3SBCE39cRAcuy5KI3jxFxRY8DaHKidQPlUlShgfovBL/tXPzXdw1MoCqHhGGYm2mKJgLTdczcxvxt6P6AlgRNte0+Td4RVoAtlejETbOFFHI8iZ4oEKUNguar1dRA23slBEOpvLLVHkwE8BLJuq8K4ut4qxQ7cwNQjkcKxHj1zB5xq/KVSoT6TSJuZStcuyZtg/RcGRKiHiRs+CEgSYFC2NfOgjumdc95Ydi5AF/n0afVqWS0t6PkRqKl8OatCC5N+3CBPHDNBMarBsxx7veF+XWEsuPMJmgmsoGOp4B1FN0xAaB/AWzXkJeVVVm1mcGbuvDYdsQWXE1YphZe30F4/sxsI9lMF/DGN+yoMsQ3KzM3kf/8rABzYrm0yGGxy2EOJGeuJrGo1hplgOhCSXNoYYpvekMVPSNrv2hR602VfRODPCHTJwGXw8F3+9bNgbeSvLMgEy2TYQBIsGCXz2xro1zYJRMibIm7MQTlrjUB6GJc9RqnOzbnSPAieQ=" # Não esqueça deste!
            - name: AWS_REGION
              value: "us-east-1"
